<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Přihlášení</title>
</head>
<body>
<h2>Přihlášení</h2>

<div th:if="${param.logout}">
    <p>Byli jste úspěšně odhlášeni.</p>
</div>

<div th:if="${param.error}">
    <p style="color:red;">Neplatné přihlašovací údaje. Zkuste to znovu.</p>
</div>


<form th:action="@{/login}" method="post">
    <label for="username">Uživatel:</label>
    <input type="text" id="username" name="username"><br>
    <label for="password">Heslo:</label>
    <input type="password" id="password" name="password"><br>
    <button type="submit">Přihlásit</button>

</form>
</body>
</html>
